{{- $personal := hasPrefix "personal" .machine -}}
{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "ENABLE_LSP_TOOL": "1",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1"
  },
  "statusLine": {
    "type": "command",
    "command": "bash ~/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": {{ $personal }},
    "superpowers@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "code-review@claude-plugins-official": true,
    "github@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": {{ $personal }},
    "playwright@claude-plugins-official": {{ $personal }},
    "commit-commands@claude-plugins-official": {{ $personal }},
    "claude-md-management@claude-plugins-official": true,
    "skill-creator@claude-plugins-official": {{ $personal }},
    "claude-code-setup@claude-plugins-official": true,
    "hookify@claude-plugins-official": {{ $personal }},
    "railway@claude-plugins-official": {{ $personal }},
    "cloudflare@cloudflare": {{ $personal }},
    "swift-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": {{ $personal }},
    "pyright-lsp@claude-plugins-official": true,
    "gopls-lsp@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true,
    "lua-lsp@claude-plugins-official": {{ $personal }},
    "atlassian@claude-plugins-official": {{ $personal }},
    "feature-dev@claude-plugins-official": {{ $personal }},
    "ralph-loop@claude-plugins-official": true,
    "security-guidance@claude-plugins-official": true
  },
  "extraKnownMarketplaces": {
    "claude-plugins-official": {
      "source": {
        "source": "github",
        "repo": "anthropics/claude-plugins-official"
      }
    },
    "cloudflare": {
      "source": {
        "source": "github",
        "repo": "cloudflare/skills"
      }
    }
}{{- if hasPrefix "personal" .machine }},
  "hooks": {
    "SessionStart": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "/Users/carpenter/projects/hippo/shell/claude-session-hook.sh"
          }
        ]
      }
    ]
  }
{{- end}},
  "effortLevel": "high",
  "voiceEnabled": true,
  "autoDreamEnabled": true,
  "skipDangerousModePermissionPrompt": true,
  "teammateMode": "auto"
}
